
<div id="wrapper" class="container-reponsive">
	<div id="gallery-wrapper">
		<%for(var i = result.length - 1; i >= 0 ; i--) {%>
			<%if(i > (result.length - 1) - pageLimit) {%>
				<div id=<%=result[i].filename%>  class="img-holder">
					<img class="thumbnail img-responsive" src="/upload/<%=result[i].filename%>"/>
					<div><%=result[i].description%></div>
					<%if(session.name) {%>
					<button class="pin pin-add btn btn-xs btn-danger">Pin this <span class="icon">&#x1f49b;</span></button>
					<%}%>
				</div>
			<%}%>
		<%}%> 
	</div>
</div>