<!doctype html>
<html lang="en">
<head>
	<title>Pinterest!</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../style.css">

</head>
<body>
<nav class="navbar navbar-ct-azzure navbar-fixed" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/"><img class="img-responsive" src="../static/logo.png"/></a>
        </div>
        <div class="nav navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
          <% if(session.name !== undefined) {%>
          <li id="upload">
            <a href="/upload">Upload</a>
          </li>
          <li id="userpinned">
            <a href="/userpinned">My Board</a>
          </li>
            <li id="useruploaded">
            <a href="/useruploaded">Manage Uploads</a>
          </li>
          <%}%>
          </ul>
          <div class="nav navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <% if(session.name === undefined) {%>
                <li>
                  <a href="/login">Login</a>
                </li>
              <% } else { %>
                <li>
                  <a href="/logout">Logout</a>
                </li>
                <li class="hidden-xs">
                    <a id="username" class="navbar-link" href="/profile"><%= session.name %></a>
                </li>
              <% } %>
            </ul>
      </div>
    </div>
  </nav>
  <div id="flash-wrapper">
    <div id="flash" class="disabled"><%=message%></div>
  </div>
